.drowing-container .text-center {
    width: 700px;
    height: 700px;
    margin: auto;
    border-radius: 20px;
    border: 10px solid;
    border-color:  #c29467;
    background-color: #494949;
    -webkit-box-shadow: 3px 0px 15px 0px rgba(0,0,0,0.6); 
    box-shadow: 3px 0px 15px 0px rgba(0,0,0,0.6);
}

.drowing-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
}

.drowing-container .delete-button {
    height: 70px;
    width: 70px;
    font-size: 35px;
    position: relative;
    left: 40%;
    top: -70px;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
}

.drowing-container .send-button p, .drowing-container .delete-button p {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0px;
}

.drowing-container .send-button:hover, .drowing-container .delete-button:hover, .drowing-container .send-button:hover p , .drowing-container .delete-button:hover p {
    color: #f4d151;
}

.drowing-container .send-button {
    height: 70px;
    width: 70px;
    font-size: 35px;
    position: relative;
    left: -40%;
    top: -70px;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
}





