.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 10% 33%;
}

.drawing-area {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  margin-top: 17px;
  margin: auto;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 25% 50%;
}

.live-drawing-area {
  width: 90%;
  height: 100%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 2%;
}

.single-live-screen {
  width: 100%;
  height: 100%;
  margin: auto;
}

.word-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 30%;
  row-gap: 5%;
  margin-top: 15px;
}

@media screen and (min-width: 1025px) {
  .main-container {
    grid-template-rows: 30% 20% 50%;
  }

  .single-live-screen {
    width: 50%;
  }
  .word-container {
    grid-template-rows: 45% 30%;
    row-gap: 15%;
  }
}






