
.drawing-area {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  margin-top: 17px;
  margin: auto;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 15% 60%;
}

.live-drawing-area {
  width: 80%;
  height: 100%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  column-gap: 2%;
  margin: auto;
}

.first-colum {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: 88% 12%;
}

.second-colum {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 30%;
  row-gap: 5%;
  margin-top: 15px;
}

.third-colum {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  display: flex;
  margin-top: 17px;
  margin: auto;
}

.single-live-screen {
  width: 100%;
  height: 100%;
  margin: auto;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;

  z-index: 1;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;

  font-size: 40px;
  color: #ffca45;
}

.exit-button {
    width: 50%;
    height: 10%;
    margin: auto;
    margin-top: 40px;
}

.button-end-game {
  width: 100%;
  height: 50px;
  font-size: 15px;
  border: none;
  color: rgb(14, 1, 1);
  background-color: #ffca45;
  font-weight: bold;
  border-radius: 20px;
  transition: all .3s;
  z-index: 2;
  -webkit-box-shadow: 7px 0px 0px 3px #0f0601; 
  box-shadow: 6px 3px 0px 0px #0f0601;
}

@media screen and (max-width: 480px ) {
  .live-drawing-area {
    width: 95%;
  }

  .main-container {
    grid-template-rows: 15% 35% 50%;
  }

  .second-colum {
    margin: auto;
    height: 50%;
  }
}

