#score-user {
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 70px;
}

#current-user {
    position: relative;
    top: 0;
}

@media screen and (max-width: 480px) {
    #score-user {
        font-size: 25px;
    }

    #current-user {
        font-size: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    #score-user {
        font-size: 50px;
    }
}