#score-user {
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    #score-user {
        font-size: 25px;
    }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    #score-user {
        font-size: 50px;
    }
}